<div class="card">
  <h5 class="card-header card-header-color">User Registration</h5>
  <div class="card-body">
    <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="form-group col-2">
          <label for="" [className]="">Title</label>
          <Select class="form-control" formControlName="title">
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Dr">Dr</option>
            <option value="Er">Er</option>
          </Select>
        </div>
        <div class="form-group col-5">
          <label for="" [className]="">First Name</label>
          <input class="form-control" formControlName="firstName"/>
        </div>
        <div class="form-group col-5">
          <label for="" [className]="">Last Name</label>
          <input class="form-control" formControlName="lastName"/>
        </div>
      </div>

        <div class="row mb-3">
            <div class="form-group col-5">
              <label for="" [className]="">Email</label>
              <input class="form-control" formControlName="email"/>
            </div>
            <div class="form-group col-5">
              <label for="" [className]="">DOB</label>
              <input type="date" class="form-control" formControlName="dob"/>
            </div>
        </div>

        <div class="row mb-3">
            <div class="form-group col-5">
              <label for="" [className]="">Password</label>
              <input type="password" class="form-control" formControlName="password"/>
            </div>
            <div class="form-group col-5">
              <label for="" [className]="">Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirmPassword"/>
            </div>
        </div>
        <div class="row mb-3">
          <div class="form-group form-check mt-3">
            <label class="">Accept Terms & Conditions</label>
            <input type="checkbox" class="form-control form-check-input" formControlName="accTerms"/>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group text-center">
          <button type="submit" class="btn btn-success me-1">{{buttonText}}</button>
          <button type="submit" class="btn btn-danger"  (click)="onCancel()">CANCEL</button>
        </div>
        </div>
    </form>
  </div>
</div>

<div class="card">
  <h5 class="card-header card-header-color">User Details</h5>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group-col">
        <table class="table table-striped">
          <tr>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let user of users">
            <td>{{user.title}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.dob}}</td>
            <td><i class="fa fa-edit" (click)="edit(user.id)"></i></td>
            <td><i class="fa fa-trash-o" (click)="delete(user.id)"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>